<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DbinventarioEntities" connectionString="metadata=res://*/ENTITYMODELADO.csdl|res://*/ENTITYMODELADO.ssdl|res://*/ENTITYMODELADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-IP965MG\VEEAMSQL2012;initial catalog=Dbinventario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Datos.Properties.Settings.DbinventarioConnectionString"
      connectionString="Data Source=WINDOWS-IP965MG\VEEAMSQL2012;Initial Catalog=Dbinventario;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>